{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Dashboard Task">
  <meta name="author" content="Eduardo Sant' Anna Martins">
  <title>
    {% block titulo %} Home {% endblock %}
  </title>
  <!-- Bootstrap core CSS-->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="{% static 'font/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
 
  {% block css %}
  <link href="{% static 'css/home.css' %}" rel="stylesheet"> 
  {% endblock css %}
</head>
  <body>
      {% block body %}
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <header class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Cover</h3>
              <nav class="nav nav-masthead">
                <a class="nav-link active" href="{% url 'home' %}">Home</a>
                <a class="nav-link" href="{% url 'login' %}"> Login </a>
                <a class="nav-link" href="{% url 'cadastro' %}"> Cadastro </a>
                <a class="nav-link" href="{% url 'dashboard:index' %}"> Dashboard </a>   
                <a class="nav-link" href="#" data-toggle="modal" data-target="#help"> Ajuda </a>    
                
              </nav>
            </div>
          </header>

          <main role="main" class="inner cover">
            <h1 class="cover-heading"> Página inicial </h1>
            <p class="lead"> Clique no botão para acessar o painel de tarefas </p>
            <p class="lead">
              <a href="{% url 'dashboard:index' %}" class="btn btn-lg btn-block btn-primary"> Acessar o Dashboard</a>
            </p>
          </main>

          <footer class="mastfoot">
            <div class="inner">
              <p>Criado por <a href="https://eduardomartins.site"> Eduardo </a></p>
            </div>
          </footer>

        </div>

      </div>

    </div>
{% endblock body %}
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="{% static 'js/jquery-3.2.1.min.js' %}"><\/script>')</script>
  <script src="{% static 'js/popper.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  
  <div class="modal fade" id="help" tabindex="-1" role="dialog" aria-labelledby="help-label" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="help-label"> Ajuda </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>  
          <div class="modal-body">
            <form id="help-form" action="mailto:eduardo@eduardomartins.site" method="GET" enctype="text/plain">
              <div class="form-group">     
                <label> Assunto: </label>
                <input class="form-control" type="text" name="subject">
              </div>
              <div class="form-group">       
                <label> E-mail: </label>
                  <input class="form-control" type="email" name="from">
              </div>
              <div class="form-group">
               <label> Mensagem: </label>
                <textarea name="body" rows="4" cols="50"></textarea>
              </div> 
            </form>
            </div>      
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal"> Cancelar </button>
                <button type="submit" form="help-form" class="btn btn-primary"> Enviar </button>
              </div>
          </div>

        </div>
      </div>
    </div>
{% block scripts %}

{% endblock %}
</body>

</html>