{% extends 'dashboard_base.html' %}
{% load static bootstrap4 %}

{% block conteudo %}
<section class="row text-center placeholders">
        <div class="col-6 col-sm-6 placeholder">
          <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail" width="200" height="200">
          <h4>Pendentes </h4>
          <div class="text-muted"> Tarefas pendentes </div>
        </div>
        <div class="col-6 col-sm-6 placeholder">
          <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail" width="200" height="200">
          <h4>Finalizadas</h4>
          <span class="text-muted"> Tarefas finalizadas </span>
        </div>
      </section>
<h2> Tarefas </h2>

{% if not tarefas %}
    <div class="alert alert-warning">
        <strong> Você ainda não possui nenhuma tarefa </strong>
    </div>
{% endif %}
{% if tarefa %}
<div class="alert alert-success">
    <strong> Tarefa salva com sucesso </strong>
</div>
{% endif %}

<div class="panel"> 
    <div class="row"> 
        <div class="col-sm-12 col-md-6 col-lg-4"> 
            <div class="card">
                <h4 class="card-header"> Nova tarefa </h4>
                <div class="card-body">
                    <a class="btn btn-primary btn-block btn-lg" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Adicionar tarefa <i class="fa fa-plus" aria-hidden="true"></i>                            
                    </a>
                    <hr>
                    <div class="collapse" id="collapseExample">
                    <form method="POST" action="."  enctype="multipart/form-data">
                        {% csrf_token %}
                        {% bootstrap_form form_task %}
                        <h5> Anexo </h5>
                        {% for form in formset_anexo %}
                            {{ form }}
                        {% endfor %}
                        <hr>
                        <button type="submit" class="btn btn-primary btn-block"> Salvar </button>
                    </form>
                </div>
            </div>
            </div>
        </div>
        {% for tarefa in tarefas %}
        <div class="col-sm-12 col-md-6 col-lg-4"> 
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"> {{ tarefa.nome }}    <sapn class="badge badge-warning"> {{ tarefa.status }} </span> </h4>
                    <p class="card-text">
                        {{ tarefa.descricao }}
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"> <strong> Criado por: </strong> {{ tarefa.criado_por }} </li>
                    <li class="list-group-item"> <strong> Prioridade: </strong> {{ tarefa.prioridade }} </li>
                </ul>
                <div class="card-body">
                    <h4 class="card-title"> Anexos  <span class="badge badge-secondary"> {{ tarefa.anexo_set.all.count }} </span></h4>
                    {% for anexo in tarefa.anexo_set.all %}
                        <a href="{{ anexo.arquivo.url }}" class="card-link"> {{ anexo.arquivo }}  </a>
                    {% endfor %}
                    <hr>
                    <a href="#" data-url="{% url 'dashboard:excluir-tarefa' pk=tarefa.pk  %}" data-toggle="modal" data-target="#excluir" class="btn btn-danger"> Excluir </a>
                    <a class="btn btn-secondary" href="{% url 'dashboard:editar-tarefa' pk=tarefa.pk  %}"> Editar </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="modal fade" id="excluir" tabindex=-1 role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title"> Deseja realmente excluir a terefa?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p> Depois de excluído, não é será mais possível recuperar os dados</p>
        </div>
        <div class="modal-footer">
            <a class="btn btn-danger" href="" id="target-url"> Excluir </a>
            <button type="button" class="btn btn-secondary" data-dismiss="modal"> Cancelar </button>
        </div>
        </div>
    </div>
</div>

{% endblock conteudo %}

{% block scripts %}
<script>
        $(document).ready(function(){
            $('a[data-target="#excluir"]').click(function(event){
                $("#target-url").attr('href', $(this).attr("data-url"))
            });
        });
    </script>
    
{% endblock %}