{% extends 'dashboard_base.html' %}
{% load static bootstrap4 %}

{% block conteudo %}
<div  style="margin: 1rem 2rem;">
<section class="row text-center placeholders">
        <div class="col-sm-12 col-md-6 placeholder">
            <div class="chart primary">
                <p> {{ processadas.count  }} </p>
                </div>
          <h4> Processadas </h4>
          <div class="text-muted"> Tarefas pendentes </div>
        </div>
        <div class="col-sm-12 col-md-6 placeholder">
            <div class="chart success">
                <p> {{ finalizadas.count }} </p>
            </div>
          <h4> Done </h4>
          <span class="text-muted"> Tarefas finalizadas </span>
        </div>
      </section>
<h2> Tarefas </h2>
<hr>
{% if not tarefas %}
    <div class="alert alert-warning">
        <strong> Você ainda não possui nenhuma tarefa </strong>
    </div>
{% endif %}
{% if tarefa %}
<div class="alert alert-success">
    <strong> Tarefa salva com sucesso </strong>
</div>
{% endif %}

<div class="panel"> 
        <div class="card">
                <div class="card-body">
        <ul class="nav nav-pills justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" href="#">Todas as tarefas </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Minhas tarefas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Tarefas processadas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Tarefas finalizadas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"> <i class="fa fa-sort-amount-asc" aria-hidden="true"></i>
                Ordenar por prioridade </a>
        </li>
      </ul>
    </div>
    </div>
    <div class="row"> 
        <div class="col-sm-12 col-md-6 col-lg-4"> 
            <div class="card">
                <h4 class="card-header">  
                    <a class="btn btn-danger btn-block" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Nova tarefa <i class=" fa fa-chevron-circle-down" aria-hidden="true"></i>                            
                    </a> 
                </h4>
                <div class="card-body">   
                     <div class="collapse" id="collapseExample">
                    <form method="POST" action="."  enctype="multipart/form-data">
                        {% csrf_token %}
                        {% bootstrap_form form_task %}
                        {% bootstrap_form form_anexo %}
                        <hr>
                        <button type="submit" class="btn btn-primary btn-block"> Salvar </button>
                    </form>
                </div>
            </div>
            </div>
        </div>
        {% for tarefa in tarefas %}
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-header"> 
                    <h4 style="display: inline-block;"> {{ tarefa.nome }} </h4>
                    {% if tarefa.status != 'done' %}
                        <span class="badge badge-warning float-right"> {{ tarefa.status }} </span>
                    {% else %}
                        <span class="badge badge-success float-right"> {{ tarefa.status }} </span>
                    {% endif %}
                </div>
                <div class="card-body">
                    <p class="card-text">
                        {{ tarefa.descricao }}
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                        <li class="list-group-item"> <strong> Prioridade: </strong> {{ tarefa.prioridade }} </li>
                    <li class="list-group-item"> <strong> Criado por: </strong> {{ tarefa.criado_por }} </li>
                </ul>          
                <div class="card-body">
                    {% if tarefa.anexo_set.all.count > 0 %}
                        <h5 class="card-title"> Anexos  <span class="badge badge-info"> {{ tarefa.anexo_set.all.count }} </span></h5>
                        {% for anexo in tarefa.anexo_set.all %}
                            <a href="{{ anexo.arquivo.url }}" class="btn btn-clear btn-block text-left" title="Clique para ver o anexo">
                                <i class="fa fa-file" aria-hidden="true"></i> 
                                {{ anexo.filename }}
                            </a>
                        {% endfor %}
                    {% endif %}
                    <br>
                    <form action="{% url 'dashboard:status-tarefa' %}" method="POST">
                        {% csrf_token%}
                        <input type="hidden" name="pk" value="{{ tarefa.id }}"/>
                        <button type="button" value="{{ tarefa.id }}" data-toggle="modal" data-target="#excluir" class="btn btn-danger">  
                            <i class="fa fa-trash-o fa-fw"></i> Excluir 
                        </button>
                        <a class="btn btn-secondary" href="{% url 'dashboard:editar-tarefa' pk=tarefa.pk  %}"> 
                            <i class="fa fa-pencil fa-fw"></i> Editar 
                        </a>
                        {% if tarefa.status != 'done' %}
                        <button class="btn btn-success float-right" name="status" type="submit" value="processada"> 
                            <i class="fa fa-check fa-fw"></i> Done 
                        </button> 
                        {% endif %}
                    </form>    
                
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="modal fade" id="excluir" tabindex=-1 role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title"> Deseja realmente excluir a terefa? </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p> Depois de excluído, não é será mais possível recuperar os dados</p>
        </div>
        <div class="modal-footer">
            <form action="{% url 'dashboard:excluir-tarefa' %}" method="POST">
                {% csrf_token%}
                <button type="submit" name="pk" value="" class="btn btn-danger" id="target-button"> Excluir </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal"> Cancelar </button>
            </form>        
        
        </div>
        </div>
    </div>
</div>
</div>
{% endblock conteudo %}

{% block scripts %}
    <script>
        $(document).ready(function(){
            $('[data-target="#excluir"]').click(function(event){
                $('#target-button').attr('value', $(this).attr("value"))
            });
        });
    </script>
{% endblock %}